[CoinBase]
# generate api key on https://www.coinbase.com/settings/api

API_KEY =
API_SECRET =
API_VERSION =

[Ethereum]
WEB_URL = https://etherchain.org/account/
API_URL = https://etherchain.org/api/account/
